<div class="container">
  <h2>Family Practice Doctors</h2>      
  <div class="card-deck"> 
    <ng-template ngFor let-doctor [ngForOf]="familyPracticeDoctors">
      <div class="col-lg-4 col-sm-6 py-3 ">
        <div class="card border-secondary h-100">
          <img src="https://avatars.dicebear.com/v2/{{doctor.gender}}/{{doctor.name || 'noname'}}.svg" class="card-img-top" alt="Sorry, no image available.">
          <div class="card-body">
            <h4 class="card-title">Dr. {{doctor.name}}</h4>
            <h6 class="card-subtitle">Family Practice</h6>
            <p class="card-text">{{doctor.gender | titlecase}}</p>
            <a href="#" class="card-link">Reviews <span class="badge badge-primary">{{doctor.reviewCount}}</span></a>
          </div>
        </div>
      </div>
    </ng-template>
  </div>
</div>

<div class="container">
    <h2>Pediatric Doctors</h2>      
    <div class="card-deck"> 
      <ng-template ngFor let-doctor [ngForOf]="pediatricDoctors">
        <div class="col-lg-4 col-sm-6 py-3 ">
          <div class="card border-secondary h-100">
            <img src="https://avatars.dicebear.com/v2/{{doctor.gender}}/{{doctor.name || 'noname'}}.svg" class="card-img-top" alt="Sorry, no image available.">
          <div class="card-body">
            <h4 class="card-title">Dr. {{doctor.name}}</h4>
            <h6 class="card-subtitle">Pediatrics</h6>
            <p class="card-text">{{doctor.gender | titlecase}}</p>
            <a href="#" class="card-link">Reviews <span class="badge badge-primary">{{doctor.reviewCount}}</span></a>
          </div>
        </div>
      </div>
    </ng-template> 
  </div>
</div>
